<%= form_for @task do |f| %>

  <%= f.label :name, "Enter task name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Enter task description" %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>

<!--
<form action="/tasks" method="post">
  <input type="text" name="task[name]" placeholder="Task name">
  <input type="text" name="task[description]" placeholder="Task description">
  <input type="submit" value="Create task">
</form>
 -->
